.bold {
    color: rgb(27,167,173);
    font-weight: 500;
}

.close {
    width: 20px;
}

.justify {
    text-align: justify;
}

.menu {
    margin-top: 0.67em;
    width: 50px;
}


.navbar {
    align-items: flex-start;
    background: #fff;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    height: 100%;
    justify-content: space-between;
    left: -100%;
    list-style: none;
    margin: 0;
    padding: 0.67em 0;
    position: absolute;
    top: 0;
    width: calc(100% - 0.67em);
}

.navbar.open {
    left: inherit;
}

.nav-img {
    margin-top: 0.67em;
}

.profile {
    color: #282c34;
    padding: 0 0.67em;
    position: relative;
}

.profile-header {
    align-items: center;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.17);
    display: flex;
    font-weight: 500;
    justify-content: space-between;
    margin-bottom: 0.67em;
    padding-bottom: 0.67em;
}

li:first-child {
    position: absolute;
    right: 0.67em;
}

@media screen and (min-width: 768px) {
    .close {
        display: none
    }

    .justify {
        text-align: center;
    }

    .menu {
        display: none
    }

    .navbar {
        flex-direction: row;
        left: inherit;
        position: relative;
    }

    li {
        flex: 1;
    }
}
